.ProjImage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* height: 50%; */
  width: 100%;
  height: 100%;
  margin: 0px;
}

.ProjImage .img-ctr {
  max-width: 70%;
  max-height: 80%;
}

@media only screen and (min-width: 768px) {
  .ProjImage {
    justify-content: center;
  }
}
