/* - - - RESETS - - -*/
.HomeViewFooter h1,
.HomeViewFooter h2,
.HomeViewFooter a,
.HomeViewFooter p,
.HomeViewFooter ul,
.HomeViewFooter li {
  margin: 0px;
  padding: 0px;
}

/* - - - GENERAL - - -*/
.HomeViewFooter {
  /* Position and Sizing */
  position: absolute;
  bottom: 5%;
  width: 75vw;
  height: 100px;
  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* Style */
  color: white;
  border: solid white 2px;
  background-color: rgba(96, 96, 96, 0.4);
  font-size: 16px;
}

.HomeViewFooter h2 {
  font-size: 26px;
  font-weight: 400;
}

.HomeViewFooter .project-nav-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeViewFooter .project-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.HomeViewFooter .nav-ctr {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.HomeViewFooter .nav-ctr a {
  font-size: 22px;
}

.HomeViewFooter .nav-ctr ul {
  display: flex;
  list-style: none;
}

.HomeViewFooter .nav-ctr ul li {
  margin: 0px 10px;
  height: 30px;
}

.HomeViewFooter .rights-ctr {
  font-size: 10px;
}

/* - - - MEDIA QUERIES - - -*/

@media only screen and (min-width: 768px) {
  .HomeViewFooter {
    height: 80px;
  }

  .HomeViewFooter .project-nav-ctr {
    display: none;
  }

  .HomeViewFooter .rights-ctr {
    font-size: 14px;
  }
}
