/* - - - RESETS - - -*/
.HomeViewHeader h1,
.HomeViewHeader h2,
.HomeViewHeader a,
.HomeViewHeader p,
.HomeViewHeader ul,
.HomeViewHeader li {
  margin: 0px;
  padding: 0px;
}

/* - - - GENERAL - - -*/
.HomeViewHeader {
  /* Position and Sizing */
  width: 100vw;
  height: 90px;
  z-index: 1;
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* Style */
  background-color: rgb(250, 250, 250);
  text-decoration: none;
}

.HomeViewHeader h1 {
  margin: 2px 0px;
}

.HomeViewHeader a {
  color: rgb(58, 58, 58);
}

.HomeViewHeader .title-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
}

.HomeViewHeader .project-nav-ctr {
  display: none;
}

.HomeViewHeader .nav-category-ctr {
  display: flex;
  justify-content: center;
}

.HomeViewHeader .nav-category-ctr ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.HomeViewHeader .nav-category-ctr ul li {
  margin: 0px 10px;
}

/* - - - MEDIA QUERIES - - -*/
@media only screen and (min-width: 768px) {
  .HomeViewHeader {
    justify-content: space-around;
    height: 100px;
  }

  .HomeViewHeader .title-ctr {
    width: 200px;
  }

  .HomeViewHeader .project-nav-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .HomeViewHeader .project-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
  }

  .HomeViewHeader .nav-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .HomeViewHeader .nav-ctr a {
    font-size: 20px;
  }

  .HomeViewHeader .nav-ctr ul {
    display: flex;
    list-style: none;
  }

  .HomeViewHeader .nav-ctr ul li {
    margin: 0px 10px;
    height: 30px;
  }
}
