/* - - - RESETS - - -*/
.HVFooter h1,
.HVFooter h2,
.HVFooter a,
.HVFooter p,
.HVFooter ul,
.HVFooter li {
  margin: 0px;
  padding: 0px;
}

/* - - - GENERAL - - -*/
.HVFooter {
  /* Position and Sizing */
  position: absolute;
  bottom: 5%;
  min-width: 235px;
  max-width: 375px;
  width: 65vw;
  height: 100px;
  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* Style */
  color: white;
  border: solid white 2px;
  border-radius: 20px;
  background-color: rgba(96, 96, 96, 0.3);
  backdrop-filter: blur(2px);
  font-size: 16px;
}

.HVFooter h2 {
  font-size: 26px;
  font-weight: 400;
}

.HVFooter .project-nav-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HVFooter .project-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.HVFooter .nav-ctr {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.HVFooter .nav-ctr a {
  font-size: 22px;
}

.HVFooter .nav-ctr ul {
  display: flex;
  list-style: none;
}

.HVFooter .nav-ctr ul li {
  margin: 0px 10px;
  height: 30px;
}

.HVFooter .rights-ctr {
  font-size: 10px;
}

.HVFooter .hidden {
  margin: -3px;
  visibility: hidden;
}

/* - - - MEDIA QUERIES - - -*/

@media only screen and (min-width: 768px) {
  .HVFooter {
    height: 20px;
    bottom: 10px;
    border: none;
    background-color: transparent;
    backdrop-filter: none;
  }

  .HVFooter .project-nav-ctr {
    display: none;
  }

  .HVFooter .rights-ctr {
    font-size: 14px;
  }
}
