@import "ThemeVariables.css";

/* - - - RESETS - - -*/
.HVHeader h1,
.HVHeader h2,
.HVHeader a,
.HVHeader p,
.HVHeader ul,
.HVHeader li {
  margin: 0px;
  padding: 0px;
}

/* - - - GENERAL - - -*/
.HVHeader {
  /* Position and Sizing */
  width: 100%;
  height: 90px;
  z-index: 1;
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* Style */
  background-color: var(--softWhite);
  text-decoration: none;
}

.HVHeader h1 {
  margin: 2px 0px;
}

.HVHeader a {
  color: var(--softBlack);
}

.HVHeader .title-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
}

.HVHeader .project-nav-ctr {
  display: none;
}

.HVHeader .nav-category-ctr {
  display: flex;
  justify-content: center;
}

.HVHeader .nav-category-ctr ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  width: 181px;
}

.HVHeader .nav-category-ctr ul li {
  margin: 0px 10px;
}

.HVHeader .hidden {
  display: none;
}

/* - - - MEDIA QUERIES - - -*/
@media only screen and (min-width: 768px) {
  .HVHeader {
    justify-content: space-around;
    height: 120px;
    margin-right: 10px;
  }

  .HVHeader .title-ctr {
    width: 200px;
  }

  .HVHeader .project-nav-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .HVHeader .project-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
  }

  .HVHeader .nav-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .HVHeader .nav-ctr a {
    font-size: 20px;
  }

  .HVHeader .nav-ctr ul {
    display: flex;
    list-style: none;
  }

  .HVHeader .nav-ctr ul li {
    margin: 0px 10px;
    height: 30px;
  }

  .HVHeader .hidden {
    display: flex;
    visibility: hidden;
    width: 181px;
  }
}
