@import "ThemeVariables.css";

.HVSideNav {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* positioning */
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  /* sizing */
  width: 45px;
  /* styling */
  color: white;
  background-color: var(--navBG1);
  backdrop-filter: var(--navBackdrop);
  font-size: 40px;
  border: var(--navBorder);
  border-right: 0;
  border-radius: 15px 0px 0px 15px;
}

.HVSideNav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HVSideNav .nav-icon {
  image-rendering: pixelated;
  filter: saturate(0) brightness(0.6);
  margin: 6px 0px 6px 0px;
  width: 28px;
  border: 2px solid rgb(0, 192, 186);
  border-radius: 8px;
}

.HVSideNav .highlighted-nav {
  filter: none;
}

.HVSideNav .highlighted-icon {
  background-color: red;
}

@media only screen and (min-width: 768px) {
  .HVSideNav {
    right: 1%;
    width: 55px;
    border-radius: 10px 10px;
    border-right: 2px var(--softBlack) solid;
  }

  .HVSideNav .nav-icon {
    width: 40px;
  }
}
