/* - - - - - - - RESETS - - - - - - - - - - */

/* - - - - - - - SPECIFICS - - - - - - - - - - */
.LandingPage {
  position: absolute;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 5;
}

.LandingPage .bg-img-ctr {
  height: 100%;
  max-height: 100%;
  width: 100vw;
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  position: absolute;
  z-index: 0;
}

.LandingPage .bg-img {
  height: 100%;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  /* . . . Image Rendering . . . */
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Chrome / Safari */
  image-rendering: pixelated; /* Chrome as of 2019 */
  image-rendering: optimize-contrast; /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
  z-index: 0;
}

.LandingPage .lp-content-ctr {
  /* . . . Positioning . . . */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
  width: 100%;
  /* . . . Fonts . . . */
  font-family: "munro";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 4px;
  font-smooth: never;
  z-index: 1;
}

.LandingPage .lp-content-ctr a {
  text-decoration: none;
  color: rgb(208, 247, 239);
}

.LandingPage .lp-content-ctr .header-ctr {
  display: flex;
  flex: 6;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 0%;
  width: 100%;
  height: fit-content;
  z-index: 1;
}

.LandingPage .lp-content-ctr .PersonalIntro {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 0%;
  width: 100%;
  z-index: 1;
}

.LandingPage .lp-content-ctr .PersonalIntro img {
  border: 10px ridge rgba(0, 255, 221, 0.767);
  padding: 3px;
  width: 250px;
}

.LandingPage .lp-content-ctr .nav-ctr {
  display: flex;
  flex: 5;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
}

.LandingPage .lp-content-ctr .lp-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.LandingPage .lp-content-ctr .lp-link h1,
.LandingPage .lp-content-ctr .lp-link h2 {
  font-weight: 600;
  padding: 30px 20px;
}

.LandingPage .lp-content-ctr .lp-link h1 {
  font-size: 32px;
}

.LandingPage .lp-content-ctr .lp-link h2 {
  font-size: 26px;
}

.LandingPage .HomeView-ctr {
  position: absolute;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  max-height: 100%;
}

.LandingPage .hide {
  display: none;
}
