html {
  --softBlack: rgb(90, 90, 90);
  --softWhite: rgb(245, 245, 245);
  --navBG1: rgba(255, 255, 255, 0);
  --navBorder: 2px var(--softBlack) solid;
  --borderRadius1: 20px;
  --navBackdrop: saturate(50%) blur(20px) brightness(180%);
}
