/* - - - RESETS - - -*/
.HomeViewFooter h1,
.HomeViewFooter h2,
.HomeViewFooter a,
.HomeViewFooter p {
  margin: 0px;
  padding: 0px;
}

/* - - - GENERAL - - -*/
.HomeViewFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 100px;
  font-size: 16px;
}

.HomeViewFooter h2 {
  font-weight: 400;
}

.HomeViewFooter .project-nav-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeViewFooter .project-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HomeViewFooter .project-nav-type-cat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeViewFooter .project-nav-type-cat a {
  margin: 6px;
}

.HomeViewFooter .rights-ctr {
  font-size: 10px;
}

/* - - - MEDIA QUERIES - - -*/

@media only screen and (min-width: 768px) {
  .HomeViewFooter {
    height: 80px;
  }

  .HomeViewFooter .project-nav-ctr {
    display: none;
  }

  .HomeViewFooter .rights-ctr {
    font-size: 14px;
  }
}
