/* - - - GENERAL - - -*/
.HomeViewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 100px;
  text-decoration: none;
}

.HomeViewHeader h1 {
  margin: 2px 0px;
}

.HomeViewHeader .title-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
}

.HomeViewHeader .project-nav-ctr {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeViewHeader .project-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HomeViewHeader .project-nav-type-cat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeViewHeader .project-nav-type-cat a {
  margin: 6px 6px 0px 6px;
}

.HomeViewHeader .nav-ctr {
  display: flex;
  justify-content: center;
  width: 120px;
}

.HomeViewHeader .nav-ctr ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.HomeViewHeader .nav-ctr ul li {
  margin: 0px 10px;
}

/* - - - MEDIA QUERIES - - -*/
@media only screen and (min-width: 768px) {
  .HomeViewHeader {
    justify-content: space-around;
    height: 100px;
  }

  .HomeViewHeader .title-ctr {
    width: 200px;
  }

  .HomeViewHeader .project-nav-ctr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .HomeViewHeader .nav-ctr {
    width: 200px;
  }

  .HomeViewHeader .nav-ctr ul li {
    margin: 0px 10px;
  }
}
