@import "../src/components/styles/ThemeVariables.css";

/* - - - - - lINKS AND FONTS - - - - - - - - */
@font-face {
  font-family: "munro";
  src: url("/src/img/munro/munro.ttf");
}

/* - - - - - GENERAL - - - - - - - - */
.App {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--softWhite);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* - - - - MEDIA QUERIES - - - - */
@media only screen and (min-width: 768px) {
  .App .wip-disclaimer {
    bottom: 100px;
    padding: 10px;
    width: 80%;
  }
}
