/* - - - - - lINKS AND FONTS - - - - - - - - */
@font-face {
  font-family: "munro";
  src: url("/src/img/munro/munro.ttf");
}

/* - - - - - GENERAL - - - - - - - - */
.App {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100%;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.App .emoji {
  font-family: "Noto Emoji", sans-serif;
  font-style: normal;
}

.App .wip-disclaimer {
  font-family: "munro";
  color: white;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  border: solid white 2px;
  background-color: rgba(96, 96, 96, 0.348);
  padding: 0px 10px;
  width: 90%;
}

.App .wip-disclaimer h2 {
  margin: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.App .wip-disclaimer p {
  margin: 10px;
  font-size: 14px;
}

/* - - - - MEDIA QUERIES - - - - */
@media only screen and (min-width: 768px) {
  .App .wip-disclaimer {
    bottom: 100px;
    padding: 10px;
    width: 80%;
  }
}
