html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GLOBAL CLASSES */

.full-w-h {
  width: 100%;
  height: 100%;
}

.prevent-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hide {
  display: none;
}

.emoji {
  font-family: "Noto Emoji", sans-serif;
  font-style: normal;
}

.hue-rotation {
  animation: 15s ease-in-out infinite alternate hueRotation;
}

@keyframes hueRotation {
  from {
    filter: hue-rotate(0deg) saturate(100%) sepia(0%);
  }

  to {
    filter: hue-rotate(130deg) saturate(80%) sepia(30%);
  }
}
